<div class="card">
    <div class="card-header">
      <h1>Form-Component</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="userprofile">
            <label>
                Id:
                  <input type="text" formControlName="Id"/>
            </label>
            <br/>
            <br/>
            <label>
              First Name:
                <input type="text" formControlName="FirstName" />
            </label>
            <br/>
            <br/> 
            <label>
              Last Name:
                <input type="text" formControlName="LastName"/>
            </label>
            <br/>
            <br/> 
            <label>
              Age:
                <input type="text" formControlName="Age"/>
          </label>
          <br/>
          <br/>
        </form>
        <button class="btn btn-primary" (click)="getdata()">Click</button>
    </div>
  </div>

