 <div fxLayoutAlign="center center" fxFlexFill>
  <mat-card  fxFlex="25%" fxFlex.lt-sm="80%" fxFlex.lt-xl="25%" class="border">
    <mat-toolbar color="primary" class="text-center">
      Log In Page
    </mat-toolbar>
    <br/>
      <form [formGroup]="userprofile" fxLayoutAlign="stretech" fxLayout="column" class="login-form">
        <mat-form-field  appearance="fill" >
          <input matInput  placeholder="Id" formControlName="Id"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="FirstName" formControlName="FirstName" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput placeholder="LastName" formControlName="LastName"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Age" formControlName="Age"/>
        </mat-form-field>
          <button mat-raised-button (click)="getdata()">Login</button>
          <br/>
      </form>
  </mat-card>
</div>
 



